.header {
  text-align: center;
  padding: 1rem 0px;
  font-weight: bold;
  font-size: 1.5rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container button {
  margin: 0px 2rem;
}
.container input[type="number"] {
  height: 2rem;
}